<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026254620863-91k07at9r1qpr1cd1vjjitffdq7mq8s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026254620863-91k07at9r1qpr1cd1vjjitffdq7mq8s5</string>
	<key>API_KEY</key>
	<string>AIzaSyABBWEhQSx4idJUVo1G055gYhaWIJiUN6A</string>
	<key>GCM_SENDER_ID</key>
	<string>1026254620863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeMgmtApp</string>
	<key>PROJECT_ID</key>
	<string>time-mgmt-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>time-mgmt-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026254620863:ios:ea7b809301d162015f1e0a</string>
</dict>
</plist>